.bn-nav{
	width: 45px;
	height: 45px;
	float: right;
	background-color: black;
	/*border-radius: 15px;*/
	transform: rotate(45deg) translateX(31px);
	opacity: 0.3;
}
.bn-nav:hover{
	animation: act 1s ease;
}
.nav{
	position: fixed;
	top: 50%;
	right: 0px;
	/*border: 3px black solid;*/
	z-index: 1000;
}
.list-nav{
	position: relative;
	top: 20px;
	margin: 0;
	padding: 0;
	width: 200px;
	overflow: hidden;
	list-style: none;
	background-color: white;
	/*opacity: 0.7;*/
	opacity: 0;
	border-radius: 3px;


}
.list-navson{
	margin: 5px;
	background-color: black;
}
.list-navson a{
	color: white;
}
@keyframes act{
/*	0% {transform: scale(1) rotate(45deg);}
	50% {transform: scale(1.5) rotate(360deg);}
	100% {transform: scale(1) rotate(45deg);}*/
	0% {opacity: 0.3;}
	100% {opacity: 0.8;}

}