.nav{
	position: fixed;
	width: 245px;
	top: 50%;
	left: calc( 100% - 245px );
	/*border: 3px black solid;*/
	z-index: 1000;
}
.bn-nav{
	width: 45px;
	height: 45px;
	float: right;
	background-color: black;
	border-radius: 15px;
	/*transform: rotate(45deg) translateX(31px);*/
	transition: opacity 1s ease;
	opacity: 0.3;
}
.bn-nav:hover{
	opacity: 0.8;
}
.list-nav{
	position: relative;
	top: 20px;
	margin: 0;
	padding: 0;
	width: 200px;
	overflow: hidden;
	list-style: none;
	background-color: white;
	/*opacity: 0.7;*/
	opacity: 0;
	border-radius: 3px;


}
.list-navson{
	margin: 5px;
	background-color: black;
}
.list-navson a{
	color: white;
}
