body{
	/*position: relative;*/
	/*text-align: center;*/
/*	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;*/
	/*background-color: gray;*/
}
.main{
	max-width: 800px;
	min-width: 280px;
}
.data{
	width: 100%;
	height: 65px;
	margin: auto;
}
.data p{
	float: left;
	margin: 0px 0px 0px 5px;
	display: inline-block;
}
.only{
	position: relative;
	/*width: 300px;*/
	width: 100%;
	height: 430px;
	margin: auto;
}
.only canvas,.data{
	border: 5px solid silver;
}
canvas{
	margin: auto;
}
#scores{
	margin: 3px 0px 0px 10px;
}
#container{
	position: relative;
	margin: auto;
	width: 100%;
	height: 80%;
}
#controlText{
	position: absolute;
	margin-left: -63px;
	opacity: 0.5;
	z-index: 1;
	left:50%;
	top: 40%;
	transition: opacity 2s;
}
#control{
	width: 54px;
	height: 100%;
	float: right;
	margin-top: 3px;
}
.data p, #controlText{
	line-height: 50px;
	font-size: 50px;
	color: #333333;
	text-shadow: 2px 2px 4px #AAA;
}